$color: rgb(137, 74, 232);

.star-page{
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    display: block;
    width: 0px;
    height: 300px;
    padding: 5px 0px;
    overflow-x: hidden;
    border: 7px solid rgb(146 102 212 / 70%);
    border-top-right-radius: 2.4mm;
    border-bottom-right-radius: 2.4mm;
    background-color: rgb(168, 168, 168);
    transition: 0.4s;
}
.star-page:hover{
    width: 300px;
    border-left: none;
}
.star-box{
    width: 90%;
    height: min-content;
    padding: 5px;
    border: 2px solid $color;
    border-radius: 2.4mm;
    text-align: left;
    background-color:rgb(146 102 212 / 70%) ;
    margin: 5px 0px;
}