.star-page{
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    display: block;
    width: 0px;
    height: 300px;
    overflow-x: hidden;
    border: 7px solid rgb(255, 0, 242);
    border-top-right-radius: 2.4mm;
    border-bottom-right-radius: 2.4mm;
    background-color: rgb(168, 168, 168);
    transition: 0.4s;
}
.star-page:hover{
    width: 300px;
}
// stars clear btn 
.star-clear{
    position: absolute;
    right: 0%;
    top: 0%;
    font-size: large;
    background-color: red;
    padding: 5px;
    border-radius: 1.4mm;
    cursor: pointer;
}