@import '../defaults/defaults.scss';
$color: rgb(137, 74, 232);
// main page setup
.signup {
    @include beginHead;
}
// center form
.sign-form {
    width: 40%;
    height: min-content;
    line-height: 50px;
    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 5mm;
}
.sign-f-lab {
    font-size: xx-large;
    text-align: center;
}
.sign-f-txt {
    border: none;
    border-bottom: 5px solid black;
    border-radius: 1.4mm;
    padding-left: 10px;
    width: 70%;
    height: 50px;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(231, 231, 231);
    &:focus {
        outline: none;
        border-bottom: none;
        border-left: 5px solid $color;
    }
}
.sign-f-sub {
    border: 2px solid black;
    min-width: 100px;
    height: 50px;
    background-color: $color;
    cursor: pointer;
    border-radius: 2.4mm;
    font-size: x-large;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
        background-color: rgb(149, 95, 230);
    }
    &:active {
        background-color: rgb(121, 48, 230);
    }
}
// login page back btn
.signup-back-btn {
    border: none;
    position: absolute;
    left: 5%;
    top: 5%;
    min-width: 200px;
    height: 50px;
    font-size: xx-large;
    border-radius: 2.4mm;
    @include pdSides;
    font-weight: 500;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
    @include flexCenter;
    transition: 0.2s;
    &:hover {
        scale: 1.2;
    }
    &:active {
        background-color: rgb(255, 255, 255);
    }
}
.fa-arrow-left {
    font-size: xx-large;
}
// ghost
.ghost {
@include ghosts;
background-color: red;
}
.ghost2{
    @include ghosts;
    background-color: green;
}
// resize
@media screen and (max-width:1000px) {
    .sign-f-lab {
        font-size: x-large;
    }
    .sign-form {
        width: 60%;
        height: min-content;
        line-height: 50px;
        padding: 20px;
        border-radius: 5mm;
    }
    .sign-f-txt {
        width: 75%;
        height: 40px;
        font-size: x-large;
    }
}
@media screen and (max-width:500px) {
    .sign-f-lab {
        font-size: x-large;
    }
    .sign-form {
        width: 80%;
    }
    .sign-f-txt {
        width: 90%;
        height: 40px;
        font-size: x-large;
    }
}
