.main-posts{
    width: 80vw;
    height: min-content;
    position: relative;
}
.posts{
    width: 100%;
    height: min-content;
    padding: 10px;
    border: 4px solid rgb(146, 102, 212);
    background-color: rgba(146, 102, 212, 0.699);
    margin-top: 10px;
    border-radius: 2.4mm;
    line-height: 37px;
}
.posts-p{
    text-align: left;
}
.star{
    position: absolute;
    top: 20%;
    right: 5%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-star{
    font-size: 30px;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.orange{
    color: orange;
}
.big{
    text-transform: capitalize;
}
@media screen and (max-width:1000px) {
    .main-posts{
        width: 80vw;
        height: min-content;
    }
}
@media screen and (max-width:550px) {
    .star{
        position: absolute;
        top: 10%;
        right: 2%;
        width: 50px;
        height: 50px;
    }
    .fa-star{
        font-size: 30px;
    }
    .main-posts{
        width: 85vw;
        height: min-content;
    }
    p{
        font-size: small;
    }
}