.main-posts{
    width: 100vw;
    height: min-content;
}
.posts{
    width: 100%;
    height: min-content;
    padding: 10px;
    border: 2px solid red;
    margin: 20px;
}
.posts-p{
    text-align: left;
}