input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(183, 183, 183, 0.7098039216);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(146, 102, 212, 0.699);
  border-radius: 0mm;
  border-top-left-radius: 0mm;
  border-bottom-left-radius: 0mm;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(102, 0, 255);
  border-top-left-radius: 2mm;
  border-bottom-left-radius: 2mm;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.h-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(137, 74, 232);
}

.h-links {
  min-width: 400px;
  min-height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.h-l {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.h-profile {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.h-p-image {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 25mm;
  -webkit-animation: 2s profileAnim infinite;
          animation: 2s profileAnim infinite;
}

.h-texts {
  min-width: 400px;
  min-height: 40px;
  font-size: x-large;
  font-weight: 200;
  padding-left: 10px;
  border-radius: 2.4mm;
  border: none;
}
.h-texts:focus {
  outline: none;
}

.text-post {
  position: relative;
  display: none;
  margin-top: 1vh;
  margin-left: -150px;
  min-width: 400px;
  min-height: 100px;
  border: 5px solid rgb(137, 74, 232);
  background-color: white;
  border-radius: 2.4mm;
  padding: 7px;
  z-index: 10;
}

.delX {
  position: absolute;
  right: -10%;
  top: 0;
}

.fa-x {
  color: red;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 5px;
  border-radius: 20px;
  font-size: x-large;
  font-weight: 700;
}

.txt-pst-name {
  width: 90%;
  height: 50px;
  border-radius: 2.4mm;
  font-size: large;
  border: 2px solid rgb(137, 74, 232);
  padding-left: 10px;
}
.txt-pst-name:focus {
  outline: none;
}

.txt-pst-number {
  width: 90%;
  height: 50px;
  margin-top: 2px;
  border-radius: 2.4mm;
  font-size: large;
  border: 2px solid rgb(137, 74, 232);
  padding-left: 10px;
}
.txt-pst-number:focus {
  outline: none;
}

.txt-pst-phrase {
  width: 90%;
  height: 70px;
  margin-top: 2px;
  border-radius: 2.4mm;
  font-size: large;
  border: 2px solid rgb(137, 74, 232);
  padding-left: 10px;
}
.txt-pst-phrase:focus {
  outline: none;
}

.h-p-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.txt-pst-sub {
  border: none;
  min-width: 100px;
  height: 25px;
  cursor: pointer;
  border-radius: 1mm;
  font-weight: 700;
}
.txt-pst-sub:first-child {
  background-color: red;
}
.txt-pst-sub:last-child {
  background-color: green;
}

.h-c {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100vw;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  justify-content: center;
  padding: 10px;
}

.ghostHome {
  position: fixed;
  right: -100%;
  bottom: 5%;
  font-size: xx-large;
  padding: 15px 15px;
  text-align: center;
  background-color: rgb(137, 74, 232);
  border-radius: 2.4mm;
  cursor: pointer;
  transition: 0.4s;
}

.fa-xmark {
  position: absolute;
  top: 0%;
  right: 0%;
  color: red;
  font-size: xx-large;
}

.clear {
  font-size: x-large;
  background-color: red;
  border: 5px solid red;
  border-radius: 2.4mm;
  padding: 5px;
  cursor: pointer;
}

@-webkit-keyframes profileAnim {
  0% {
    border: 3px solid rgb(137, 74, 232);
  }
  50% {
    border: 3px solid red;
  }
  100% {
    border: 3px solid rgb(137, 74, 232);
  }
}

@keyframes profileAnim {
  0% {
    border: 3px solid rgb(137, 74, 232);
  }
  50% {
    border: 3px solid red;
  }
  100% {
    border: 3px solid rgb(137, 74, 232);
  }
}
@media screen and (max-width: 1000px) {
  .h-links {
    min-width: 250px;
    min-height: 40px;
  }
  .h-texts {
    min-width: 300px;
    min-height: 40px;
    font-size: large;
  }
  .h-c {
    width: 90vw;
  }
}
@media screen and (max-width: 800px) {
  .h-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .h-profile {
    width: 70px;
    height: 70px;
  }
  .h-links {
    min-width: 200px;
    min-height: 40px;
  }
  .h-l {
    text-decoration: none;
    color: white;
    font-size: large;
  }
  .h-texts {
    min-width: 150px;
    font-size: medium;
  }
  .text-post {
    margin-top: 3vh;
    margin-left: -130px;
    min-width: 300px;
  }
}
@media screen and (max-width: 550px) {
  .h-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
  }
  .h-profile {
    width: 60px;
    height: 60px;
  }
  .h-links {
    min-width: 100px;
  }
  .h-links .h-l {
    font-weight: bold;
    font-size: medium;
  }
  .h-texts {
    min-width: 50px;
    min-height: 30px;
    font-size: small;
  }
  .text-post {
    margin-top: 3vh;
    margin-left: -75px;
    min-width: 250px;
  }
  .delX {
    position: absolute;
    right: -15%;
    top: 0;
  }
  .h-c {
    width: 90vw;
    padding: 0px;
  }
}/*# sourceMappingURL=home.css.map */